---
permalink: /feed.xml
eleventyExcludeFromCollections: true
metadata:
  language: zh-CN
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.title }}</title>
    <link>{{ site.url }}/</link>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml" />
    <description>{{ site.description }}</description>
    <language>{{ site.locale or metadata.language }}</language>
    <lastBuildDate>{{ collections.blog | first | dateToRfc3339 | default("") }}</lastBuildDate>
    {% set feedSize = 20 %}
    {% set posts = collections.blog | head(feedSize) %}
    {% for post in posts %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ site.url }}{{ post.url }}</link>
      <guid isPermaLink="true">{{ site.url }}{{ post.url }}</guid>
      <pubDate>{{ post.date | dateToRfc3339 }}</pubDate>
      <description>{{ post.data.excerpt or (post.templateContent | excerpt(200)) }}</description>
      {% if post.data.author %}
      <author>{{ post.data.author }}</author>
      {% elif site.author.email %}
      <author>{{ site.author.email }} ({{ site.author.name }})</author>
      {% endif %}
      {% for tag in post.data.tags %}
      <category>{{ tag }}</category>
      {% endfor %}
    </item>
    {% endfor %}
  </channel>
</rss>